.addAccount {
    position: fixed;
    bottom: 20px; /* 距离底部的距离 */
    right: 20px; /* 距离右边的距离 */
    z-index: 1000; /* 确保按钮在其他元素之上 */

}

.hovered  {
    background-color: white; /* 悬停时的背景色 */
}

.hovered:hover {
    background-color: rgb(243, 244, 245) /* 鼠标悬停时的背景色 */
}